*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    display: grid;
    grid-template-rows: 70px auto 70px;
    grid-auto-rows: auto;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
    grid-gap: 25%;
}
header{
    border: none;
    background: #008395;
    grid-area:header;
    display: grid;
    grid-row: auto;
    grid-template-areas: "logo nav nav nav ";
    align-items: center;
    gap: 5%;
    
}
header section{
    grid-area:logo ;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
header section h1{
    font-size: 50px;
}
header section img{
    max-width: 60px;
    border: none;
    border-radius: 50px;
}
nav{
    grid-area: nav;
}
header nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 15%;
}
header nav ul li{
    display: grid;
    justify-content:center;
    align-items: center;
    list-style: none;
    font-family: sans-serif;
}
header nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
}
header nav ul li a:hover{
    color: #3af2ff;
}
main{
    grid-area:main ;
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.tasks {
    max-width: 600px;
    padding: 2%;
    display: grid;
    grid-auto-rows: minmax(70px,auto);
    justify-content: center;
    align-items: center;
}
.tasks h2{
    text-align: center;
    padding: auto;
    margin-bottom: 6%;
    font-size: 50px;
    color: #008395;
    text-shadow: 1px 1px #9b9b9b;
}
table{
    display: grid;
    grid-auto-rows: minmax(70px,auto);
    justify-content: center;
    align-items: center;
    max-width: 600px;
    min-height: auto;
    max-height: auto;
    background-color: #d4d4d4cb;
    border: none;
    border-radius: 30px;
}
th,td{
    border: 2px solid;
    width: 300px;
}
th:first-child,td:first-child{
    border-left: none;
}
th:last-child,td:last-child{
    border-right: none;
}
table tr *{
    padding: 4.5%;
    text-align: center;
}
th{
    border-top: none;
    font-size: 28px;
}
td{
    font-size: 18px;
}
table:last-child tr *{
    border-bottom: none;
}
.done,.inProcess{
    max-width: 100px;
    max-height: 4px;
    margin: auto;
    background-color: #24ce24;
    border: none;
    border-radius: 20px;
}
.inProcess{
    background-color: red;
}
footer{
    grid-area:footer ;
    background-color: #008395;
    display: grid;
    justify-content: center;
    align-items: center;
}
/*___________________ about us __________________________*/
article{
    background-color: #11a1ab57;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 2%;
    gap: 5%;
}
article img{
    grid-area: myphoto;
    max-width: 300px;
}
article section{
    grid-area: description;
    display: flex;
    max-width: 70%;
    justify-content: center;
    align-items: center;
}
article section p{
    font-size: 30px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px #000;
}
.form{
    margin: auto;
    width: 50%;
    display: grid;
    padding: 3%;
    min-height: max-content;
    background-color: #eeeeeeac;
    border: none;
    border-radius: 30px;
    margin-top: 10%;
    gap: 8%;
}
.form div{
    display: grid;
    gap: 3%;
}
.form div h3{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    color: #008395;
    font-weight: 600;
}
.form form{
    width: 100%;
    display: grid;
    gap: 0.5%;
}
.form input{
    margin-left: 2%;
    width: 90%;
    padding-top: 2.3%;
    padding-bottom: 2.3%;
    padding-left: 5%;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    margin-bottom: 1%;
}
.form button{
    margin: auto;
    margin-bottom: 10%;
    padding: 10px;
    font-weight: bolder;
    font-size: 15px;
    width: 30%;
    border: 2px solid #008395;
    color: #ffffff;
    background-color: #008395;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s;
}
.form button:hover{
    background-color: #ffffff;
    color: #008395;
}